.navigation {
  width: 100vw;
  height: 80px;
  position: fixed;
  background-color: $secondaryBackground;
  z-index: 3000;
  -webkit-box-shadow: 0px 0px 15px -5px #000000;
  box-shadow: 0px 0px 15px -5px #000000;
  &__menuText {
    margin-right: 24px;
    line-height: 80px;
    float: right;
    font-size: 3.1rem;
    font-weight: 700;
    color: $mainColor;
  }
  &__wrapper {
    display: none;
  }
}
.home {
  width: 100vw;
  height: calc(100vh - 80px);
  &__textWrapper {
    width: 75vw;
    height: 150px;
    margin: 96px 24px 0 auto;
  }
  &__text {
    font-size: 2.3rem;
    font-weight: normal;
    text-align: right;
  }
  &__textDistinction {
    color: $mainColor;
    font-weight: 700;
  }
  &__button {
    width: 120px;
    height: 40px;
    margin-top: 16px;
    float: right;
    font-size: 1.6rem;
    font-weight: 700;
    color: $mainColor;
    background-color: transparent;
    border: 1px solid $mainColor;
    cursor: pointer;
  }
  &__rectangle {
    width: 100vw;
    height: 120px;
    position: absolute;
    bottom: 0;
    background-color: $mainColor;
  }
  &__profilePicture {
    width: calc(100% - 24px);
    height: 270px;
    max-width: 300px;
    position: absolute;
    left: 24px;
    bottom: 0;
    background-image: url(../assets/person.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  &__wave {
    width: 100vw;
    height: 150px;
    position: absolute;
    bottom: 20px;
    background-image: url(../assets/wave.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
  }
}
@media (min-height: 620px) {
  .home {
    &__textWrapper {
      margin: 112px 24px 0 auto;
    }
  }
}
@media (min-height: 320px) and (orientation: landscape) {
  .home {
    &__textWrapper {
      width: 300px;
      margin: 96px 24px 0 auto;
    }
    &__profilePicture {
      left: 104px;
      height: 220px;
    }
    &__rectangle {
      width: 55vw;
      height: 100px;
    }
  }
}
@media (min-width: 768px) {
  .navigation {
    &__menuText {
      display: none;
    }
    &__wrapper {
      width: calc(100% - 240px);
      height: 80px;
      margin-left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.9rem;
      list-style-type: none;
    }
    &__item {
      overflow: hidden;
      cursor: pointer;
      &::after {
        content: "";
        display: block;
        width: 100%;
        transform: translateX(-105%);
        height: 1px;
        background-color: black;
        transition: 0.2s;
      }
      &:hover::after {
        transform: translateX(0);
      }
    }
  }
  .home {
    &__textWrapper {
      width: 400px;
    }
    &__text {
      font-size: 3.3rem;
    }
    &__button {
      width: 140px;
      height: 50px;
      margin-top: 16px;
      font-size: 1.8rem;
    }
    &__rectangle {
      width: 65vw;
      height: 200px;
    }
    &__profilePicture {
      height: 580px;
      max-width: 400px;
      left: 64px;
      z-index: 100;
    }
    &__wave {
      height: 180px;
      left: 30%;
      bottom: 10px;
      display: block;
    }
  }
}

@media (min-height: 375px) and (orientation: landscape) {
  .home {
    &__textWrapper {
      width: 340px;
    }
    &__text {
      font-size: 2.8rem;
    }
    &__wave {
      display: none;
    }
    &__profilePicture {
      left: 164px;
      height: 260px;
    }
    &__rectangle {
      width: 55vw;
      height: 100px;
    }
  }
}
@media (min-width: 1024px) {
  .home {
    &__textWrapper {
      width: 550px;
      height: 250px;
      margin: 240px 24px 0 auto;
    }
    &__text {
      font-size: 4.7rem;
    }
    &__button {
      position: relative;
      width: 180px;
      height: 60px;
      font-size: 2.4rem;
      transition: 0.2s;
      overflow: hidden;
      &::before {
        position: absolute;
        content: "";
        display: block;
        top: 100%;
        left: 100%;
        width: 50%;
        height: 60px;
        background-color: $mainColor;
        transition: 0.2s;
        z-index: -1;
      }
      &::after {
        position: absolute;
        content: "";
        display: block;
        top: -125%;
        left: -50%;
        width: 50%;
        height: 60px;
        background-color: $mainColor;
        transition: 0.2s;
        z-index: -1;
      }
      &:hover::before {
        top: 0%;
        left: 50%;
      }
      &:hover::after {
        top: 0%;
        left: 0%;
      }
      &:hover {
        color: $fontColor;
      }
    }
    &__rectangle {
      height: 250px;
    }
    &__profilePicture {
      left: 128px;
      height: 680px;
    }
    &__wave {
      height: 200px;
      left: 40%;
      bottom: 30px;
      display: block;
    }
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  .home {
    &__textWrapper {
      width: 450px;
      margin: 112px 80px 0 auto;
    }
    &__text {
      font-size: 3.7rem;
    }
    &__button {
      width: 180px;
      height: 50px;
      font-size: 2.2rem;
    }
    &__rectangle {
      height: 250px;
    }
    &__profilePicture {
      height: 580px;
    }
    &__wave {
      background-size: 900px 180px;
      left: 30%;
    }
  }
}
@media (min-width: 1220px) {
  .home {
    &__wave {
      background-size: 1200px 190px;
      left: 25%;
    }
  }
}
@media (min-width: 1440px) {
  .navigation {
    &__wrapper {
      width: calc(100% - 480px);
    }
  }
  .home {
    &__profilePicture {
      left: 20%;
      height: 650px;
    }
    &__wave {
      background-size: 1400px 190px;
      left: 30%;
    }
  }
}
@media (min-width: 1670px) {
  .home {
    &__profilePicture {
      left: 25%;
      height: 670px;
    }
    &__wave {
      background-size: 1400px 190px;
      left: 30%;
    }
  }
}
@media (min-width: 1920px) {
  .home {
    &__textWrapper {
      width: 450px;
      margin: 160px 240px 0 auto;
    }
    &__profilePicture {
      left: 25%;
      height: 670px;
    }
    &__wave {
      background-size: 1400px 200px;
      bottom: 100px;
      left: 30%;
    }
  }
}
