* {
  padding: 0;
  margin: 0;
  color: $fontColorBlack;
  font-family: "Open Sans";
}
b {
  color: $mainColor;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
.bodyWrapper {
  overflow-x: hidden;
}
