* {
  padding: 0;
  margin: 0;
  color: $fontColorBlack;
  font-family: "Open Sans";
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
b {
  color: $mainColor;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
.bodyWrapper {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
// scroll
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: $mainColor;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(192, 13, 192);
}
