* {
  padding: 0;
  margin: 0;
  color: $fontColorBlack;
  font-family: "Open Sans";
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
b {
  color: $mainColor;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
.bodyWrapper {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
